<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-sad-cry fa-6x"></i>
    <h1 class="display-3">Welcome</h1>
    <p class="lead">Everyone among us feel depressed in our life at one point or another but the motivation for me to build this website is my life iteself. But then I have realised that does everyone feel the same as me? <br> Then I have gone into a loop hole that I should never have done (I have opened WhatsApp and saw few status then I have realised that If I don't upload a sad status everyday then people will think this guy is happy) Then I have uploaded few sad status then people even Ignored me! 🤧😑</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
