<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-sad-cry fa-6x"></i>
    <h1 class="display-3">Welcome to the CLUB! <br> <div class="sec-text">Share your story or read the soties below</div> </h1>

    <% userWithSecrets.forEach(function(user){ %>
        <p class="secret-text"><%= user.secret %></p>
    <% }); %>
    
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
